
.parent {
    margin: 0px;
    border: 0px;
    padding: 20px;
    padding: 35px;
    text-align: center;
    
}
.child1 {
    background-color: #5d4583;
    margin-left: 20%;
    margin-right: 40%;
    padding: 35px;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}
.Age {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;

}
.find {
    font-size: 20px;
    font-family: popsins;
    margin-bottom: 35px;
     line-height: 30px;

}
.me {
    font-size: 25px;
    background-color: #5d4583;
}  
.child2 {
    background-color: #5d4583;
    margin-left: 20%;
    margin-right: 40%;
    padding: 35px;
    text-align: center;
    color: white;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}
.fill {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    font-family: popsins;
}
.NaN {
    font-size: 20px;
    border-radius: 10px;
    font-family: popsins;
   
}
.NaNs {
    font-size: 25px;
    background-color: #5d4583;
}
.NaNd {
    font-style: italic;
    font-size: 18px;
    border-radius: 10px;
}
.child3 {
    background-color: #5d4583;
    margin-left: 20%;
    margin-right: 40%;
    color: white;
    border-radius: 10px;
    padding: 10px;  
}
.you {
    font-family: popsins;
    font-size: 20px;
}
.con {
    font-size: 25px;
}

.hidden {
    display: none;
}
.Re {
    background-color: #5d4583;
    font-size: 20px;
}







